* {
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(240, 240, 240);
    font-size: 16px;
}

body {
    margin: 0;
    background: #080808;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    height: 56px;
    background: #080808;
    z-index: 10;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.main {
    padding: 56px 15% 0 15%;
}

.main .title {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin: 24px 0;
}

.main .title .icon {
    width: 80px;
    height: 80px;
}

.main .title span {
    font-size: 36px;
}




footer .vline {
    margin-top: 52px;
    height: 1px;
    background: rgb(160, 160, 160);
}

footer .content {
    padding: 10px 0;
}

footer .link {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 32px;
}

footer .link a {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .link a img {
    width: 48px;
    height: 48px;
    transition: 0.2s;
}

footer .link a:hover img {
    transform: scale(1.2);
}

footer .copyright {
    margin: 20px 0;
    text-align: center;
}

