* {
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(240, 240, 240);
    font-size: 16px;
}

body {
    position: relative;
    margin: 0 auto;
    background: black;
    max-width: 100%;
    width: 960px;
}

header {
    position: fixed;
    display: flex;
    box-sizing: border-box;
    padding: 8px 3.2% 7px 3.2%;
    max-width: 100%;
    width: 960px;
    height: 64px;
    z-index: 10;
    background: black;
}

header a {
    display: block;
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.05s;
    background: #000;
}

header a:hover {
    background: #303030;
}

.main {
    padding-top: 65px;
}


.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 0 12px;
}

.breadcrumbs img {
    width: 20px;
    height: 20px;
}

.breadcrumbs .here {
    color: #c0c0c0;
}






.main .title {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin: 22px 0 30px 0;
}

.main .title .icon {
    width: 80px;
    height: 80px;
}

.main .title span {
    font-size: 36px;
}




footer .vline {
    margin-top: 52px;
    height: 1px;
    background: rgb(160, 160, 160);
}

footer .content {
    padding: 10px 0;
}

footer .link {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 28px;
}

footer .link a {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .link a img {
    width: 48px;
    height: 48px;
    transition: 0.2s;
}

footer .link a:hover img {
    transform: scale(1.1);
}

footer .copyright {
    margin: 20px 0;
    text-align: center;
    color: #c0c0c0;
    font-size: 15px;
}

