body {

    margin: 0;
}

.background {

    position: absolute;
    width: 100%;
    height: 100%;
    background: url("background.jpg");
    background-size: cover;
    background-position: center 70%;
}

.background .description {

    position: absolute;
    padding: 8px;
    right: 0;
    bottom: 0;
    color: white;
}

.content {

    position: absolute;
    display: flex;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.88);
    backdrop-filter: blur(16px);
}

.content .tab .button {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
    width: 52px;
    height: 52px;
    background: white;
    border-radius: 10px;
}

.content .tab .button:hover {

    background: rgb(220, 220, 220);
}

.content .tab .button img {

    width: 64%;
    height: 64%;
}

.content .vline {

    width: 1px;
    background: gray;
}

.content .main {

    overflow-y: scroll;
}

.content .main .title {

    padding: 60px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.content .main .title .icon {

    width: 120px;
    height: 120px;
    background: url("icon.jpg");
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 12px lightgray;
}

.content .main .title .text {

    font-size: 36px;
}

.content .main .hline {

    margin: 52px 32px;
    height: 1px;
    background: gray;
}

.content .main .header {

    margin: 48px;
    font-size: 24px;
    text-align: center;
}

.content .main .text {

    font-size: 16px;
    text-align: center;
}

.content .main table {

    margin: 6px auto;
    border-collapse: collapse;
}

.content .main table td {

    border: solid 1px gray;
    padding: 2px 72px;
    text-align: center;
}

