body {

    margin: 0;
}

.background {

    position: absolute;
    width: 100%;
    height: 100%;
    background: url("background.jpg");
    background-size: cover;
    background-position: center 70%;
}

.background .description {

    position: absolute;
    padding: 8px;
    right: 0;
    bottom: 0;
    color: white;
}

.content {

    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.78);
    backdrop-filter: blur(40px);
}

.content .menu {

    margin: 8px;
    height: fit-content;
    position: absolute;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 36px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.content .menu .button {

    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background: white;
    border-radius: 50%;
    transition: 0.2s;
}

.content .menu .button:hover {

    background: rgb(220, 220, 220, 0.65);
}

.content .menu .button img {

    width: 60%;
    height: 60%;
}

.content .main {

    overflow-y: scroll;
    width: 700px;
    padding: 20px;
}

.content .main .text {

    margin: 20px 0;
    font-size: 16px;
    text-align: center;
}

.content .main .hline {

    width: 100%;
    height: 1px;
    background: rgb(64, 64, 64);
}

.content .main .title {

    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.content .main .title .icon {

    width: 120px;
    height: 120px;
    background: url("icon.jpg");
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

.content .main .title .text {

    margin: 0;
    font-size: 36px;
}

.content .main .header {

    margin: 48px;
    font-size: 24px;
    text-align: center;
}

.content .main .links {

    margin: 36px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.content .main .links .link {

    position: relative;
}

.content .main .links .link::after {

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    background: transparent;
    transition: 0.2s;
}

.content .main .links .link:hover::after {

    background: rgba(0, 0, 0, 0.1);
}

.content .main .links .link .button {

    display: block;
    padding: 8px;
}

.content .main .links .link .button .frame {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 120px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.content .main .links .link .button .frame img {

    width: 60px;
    height: 60px;
    transition: 0.2s;
}

.content .main .links .link:hover .button .frame img {

    transform: scale(0.9);
}

.content .main .links .link .button .label {

    margin-top: 4px;
    text-align: center;
}

.content .show-change {

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 100%;
    top: 0px;
    width: 80px;
    height: 80px;
}

.content .show-change .button {

    width: 60%;
    height: 60%;
}

.content .show-change .button img {

    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.content .show-change .button img:hover {

    filter: brightness(0.75);
}


