@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Playwrite+US+Trad:wght@100..400&display=swap');

:root {
    --white: 240, 240, 240
}

* {
    font-family: 'メイリオ', 'Meiryo', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W2', sans-serif;
    color: rgb(var(--white));
    font-size: 16px;
}

body {
    margin: 0;
    background: black;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    height: 56px;
    background: black;
    backdrop-filter: blur(8px);
    z-index: 2;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.main {
    position: absolute;
    width: 100%;
    height: fit-content;
    left: 0;
    top: 56px;
    background: black;
    z-index: 1;
}

.main .topics {
    position: relative;
    aspect-ratio: 4.05;
    margin: 6px 32px;
}

.main .topics .mask {
    position: relative;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
}

.main .topics .mask::-webkit-scrollbar{
    display: none;
}

.main .topics .mask .frame {
    position: absolute;
    height: 100%;
}

.main .topics .mask .fixed {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main .topics .mask .fixed .topic {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main .topics .mask .fixed .topic .frame {
    height: 100%;
}

.main .topics .mask .fixed .topic .frame .content {
    position: relative;
    width: 100%;
    height: calc(100% - 28px);
}

.main .topics .scroll-link {
    position: absolute;
    width: 100%;
    height: 28px;
    bottom: 0;
    transition: 0.2s;
}

.main .topics .scroll-link:hover {
    background: rgba(16, 16, 16, 0.6);
}

.main .topics .scroll-link .frame {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 0 28%;
    height: 100%;
}

.main .topics .scroll-link .frame .button {
    width: 100%;
    height: 4px;
    background: rgba(var(--white), 0.35);
    cursor: pointer;
}

.main .topics .scroll-link .frame .active-button {
    background: rgb(var(--white));
}

.main .user {
    margin: 36px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main .user .icon {
    width: 80px;
    height: 80px;
    background: url("icon.jpeg");
    background-size: cover;
    border-radius: 50%;
}

.main .user .text {
    font-size: 32px;
    letter-spacing: 1px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
}

.main .message {
    margin: 0 40px;
    background: rgb(44, 44, 44);
    overflow: hidden;
}

.main .message .inner {
    display: none;
    padding: 4px;
    width: fit-content;
    white-space: nowrap;
}

.main .button-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 32px 0;
}

.main .button-list a {
    display: block;
    padding: 8px 40px;
    border: solid 1px rgb(var(--white));
    border-radius: 4px;
    text-decoration: none;
}

footer {
    margin-top: 48px;
}

footer .vline {
    height: 1px;
    background: rgb(160, 160, 160);
}

footer .content {
    padding: 10px 0;
}

footer .link {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer .link a {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .link a img {
    width: 48px;
    height: 48px;
    transition: 0.2s;
}

footer .link a:hover img {
    transform: scale(1.2);
}

footer .copyright {
    margin: 20px 0;
    text-align: center;
}

