.topic-sea {

    background: url("blog/sea-niigata/background.jpg");
    background-size: cover;
    background-position: center 60%;
}

.topic-meta-quest-diary {

    background:
        linear-gradient(rgba(0, 0, 0, 0.35) 40%, rgba(0, 0, 0, 0.6)),
        url("artworks/meta-quest-diary/header.jpg");
    background-size: cover;
    background-position: center 40%;
}

.topic-ever {

    background: url("blog/ever/background.jpg");
    background-size: cover;
    background-position: center 15%;
}


