.main .title {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 24px 0;
}

.main .title .icon {
    width: 80px;
    height: 80px;
    background: url("../icon.jpeg");
    background-size: cover;
    border-radius: 50%;
}

.main .title span {
    font-size: 36px;
}

.main .info {
    margin: 24px 10%;
}

.main .info table {
    width: 100%;
    border-collapse: collapse;
}

.main .info table tr th {
    padding: 12px 24px;
    border: solid 1px rgb(240, 240, 240);
    font-weight: normal;
}

.main .info table tr td {
    padding: 12px 24px;
    border: solid 1px rgb(240, 240, 240);
}

.main .info table .space {
    height: 36px;
}

.main .info table tr td ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 24px;
}

.main .info table tr td ul .list-space {
    height: 8px;
}
