.main .title .icon {
    border-radius: 50%;
}

.main .info {
    margin-bottom: 48px;
}

.main .info table {
    width: 100%;
    border-collapse: collapse;
}

.main .info table tr th {
    padding: 16px 24px;
    border: solid 1px rgb(240, 240, 240);
    font-weight: normal;
}

.main .info table tr td {
    padding: 16px 24px;
    border: solid 1px rgb(240, 240, 240);
}

.main .info table .space {
    height: 40px;
}

.main .info table tr td ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 24px;
}

.main .info table tr td ul .list-space {
    height: 8px;
}
