.main .items .item .header {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 52px;
    width: 100%;
    height: 76px;
    cursor: pointer;
    z-index: 1;
}

.main .items .item .header .icon {
    height: 54px;
    margin-right: 16px;
}

.main .items .item .header .label {
    font-size: 34px;
}

.main .items .item .header .arrow {
    width: 44px;
    margin-left: auto;
    transition: 0.2s;
}

.main .items .item-active .header .arrow {
    transform: scaleY(-1);
}

.main .items .item .detail {
    height: 0;
    overflow: hidden;
    transition: 0.2s;
    box-sizing: border-box;
}

.main .items .item .detail .message {
    margin: 36px 0;
    text-align: center;
}

.main .items .item .detail .links {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    margin: 36px 56px 52px 56px;
}

.main .items .item .detail .links .link {
    position: relative;
    flex: 1 0 0;
    box-sizing: border-box;
    min-width: 260px;
    border-radius: 4px;
}

.main .items .item .detail .links .link:hover {
    cursor: pointer;
}

.main .items .item .detail .links .link::before {
    content: "";
    position: absolute;
    width: calc(100% + 24px);
    height: calc(100% + 24px);
    left: -12px;
    top: -12px;
    transition: 0.2s;
    border: solid 1px transparent;
    border-radius: 16px;
    pointer-events: none;
}

.main .items .item .detail .links .link:hover::before {
    border: solid 1px #606060;
}

.main .items .item .detail .links .link .header {
    display: block;
    padding: 0;
    width: 100%;
    height: 160px;
    border-radius: 10px;
}

.main .items .item .detail .links .link .category {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 8px;
    width: fit-content;
    background: #0000006e;
    border-radius: 0 0 10px 0;
}

.main .items .item .detail .links .link .category .icon {
    display: block;
    margin: 0;
    width: 40px;
    height: 40px;
}

.main .items .item .detail .links .link .text {
    padding: 4px 8px 0 8px;
}

.main .items .item .detail .links .link .text .title {
    display: block;
    margin: 0;
    font-size: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main .items .item .detail .links .link .text .message {
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    color: #d0d0d0;
}

.main .items .item .detail .nolink {
    
    margin: 64px 0 100px 0;
    color: gray;
    text-align: center;
}


