:root {
    --item-border-color: rgb(255, 255, 255, 0.7);
}

.main .items .item {
    margin: 29px 0;
}

.main .items .item .header {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 7px 66px;
    width: 100%;
    cursor: pointer;
    user-select: none;
    border: solid 1px var(--item-border-color);
    z-index: 1;
}

.main .items .item .header .icon {
    height: 66px;
    margin-right: 16px;
}

.main .items .item .header span {
    font-size: 36px;
}

.main .items .item .header .arrow {
    width: 48px;
    margin-left: auto;
    transition: 0.2s;
}

.main .items .item-active .header .arrow {
    transform: scaleY(-1);
}

.main .items .item .detail {
    transform: translateY(-1px);
    height: 0px;
    overflow: hidden;
    border: dashed var(--item-border-color);
    border-width: 0 1px 1px 1px;
    transition: 0.2s;
}

.main .items .item .detail .message {
    margin: 36px 0;
    text-align: center;
}

.main .items .item .detail .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
    margin: 48px;
}

.main .items .item .detail .links .link {
    width: 280px;
    border-radius: 18px;
    transition: 0.2s;
}

.main .items .item .detail .links .link:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.main .items .item .detail .links .link img {
    display: block;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    border: solid 1px var(--item-border-color);
}

.main .items .item .detail .links .link .title {
    margin: 12px 0;
    font-size: 24px;
    text-align: center;
    text-overflow: ellipsis;
}

.main .items .item .detail .nolink {
    
    margin: 72px 40px;
    color: gray;
    text-align: center;
}


